<html>
<head>
	<title>
		My First Blog
	</title>
	{% block headCss %}
		<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css')}}" type="text/css">
	{% endblock %}
</head>
	<body class="body">
		<h2>Welcome to your blog</h2>
		<form class="form-border" action="/add_post" method="POST">
			<div class="title wrapper">
				<input id="input-title" type="text" name="title" placeholder="Title" required=""></input>
			</div>

			<div class="title wrapper">
				<textarea id="input-post" name="post" required=""></textarea>
			</div>
			<div  class="description wrapper">
				<input type="text" name="id" value="" id="input-id" style="display: none;">
				<input type="text" name="type" value="POST" id="input-type" style="display: none;">
				<button onclick="window.location = '{{ url_for('landing_page')}}'"
					type="button" id="input-cancel" style="display: none;">CANCEL</button>
				<button type="submit" id="input-update" style="display: none;">UPDATE</button>
				<input type="submit" id="input-submit" value="POST"></input>
			</div>
		</form>

		{% for post in posts %}
			<div class="blog-border">
				<div class="title">
					<form class="form-title" action="/delete_post/{{post._id}}" method="POST">
						<div> {{ post.title }}
							<button type="button" id="edit-btn"
								onclick="
									console.log('edit!!');
									document.getElementById('input-title').value = '{{post.title}}';
									document.getElementById('input-post').value = '{{post.post}}';
									document.getElementById('input-id').value = '{{post._id}}';
									document.getElementById('input-type').value = 'PATCH';
									document.getElementById('input-cancel').style = '';
									document.getElementById('input-update').style = '';
									document.getElementById('input-submit').style = 'display: none;';" style="position: absolute; right: 90px">Edit</button>
							<button type="submit" id="delete-submit" onclick="console.log('delete!!');" style="position: absolute; right: 30px">Delete</button>
						</div>
					</form>
				</div>
				<div class="post">
					<div> {{ post.post }} </div>
				</div>
		  	</div>
		{% endfor %}
	
	</body>

</html>





